body{
  background-color: #161e2a;  //Outer purple, from chilltec.net
}
h1{
  color: EEEEEE;
  text-decoration-line: underline;
}
h4{
  color: EEEEEE;
}
#header{
  margin-top: 2em;
}
#main{
  color: EEEEEE;
}
#footer{
  margin-top: 45em;
}
#results{
  text-align: center;
  margin-top: 1em;
}
#github, #random{
  color: EEEEEE;
}
.result{
  color: 000000;
  background-color: EEEEEE;
  text-align: left;
  border-style: solid;
  padding-left: 3em;
  margin-left: 10%;
  margin-right: 10%;
}